<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

  <application>
    <service
      android:name="expo.modules.zhengbackground.ZhengBackgroundForegroundService"
      android:exported="false"
      android:foregroundServiceType="dataSync" />
  </application>
</manifest>
